html(lang="en") 
  head
    title Không tìm thấy trang

    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel="stylesheet" href="/styles/style.css")
  body
    div(class="flex h-screen bg-white justify-center items-center")
      div(class="text-center ")
        img(src="/images/logo.svg" class="w-32 md:w-40 mb-10 mx-auto")
        h3(class="text-indigo-500 font-bold uppercase tracking-wider text-lg") Lỗi 404
        h2(class="text-black font-bold text-5xl mb-3") Không tìm thấy trang.
        p(class="text-gray-400 mb-6") Xin lỗi, chúng tôi không tìm thấy trang bạn đang tìm kiếm.
        a(href="/" alt="Go back home" class="font-bold text-indigo-500 text-xl") Về trang chủ ►
