extends layout

block header 
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
block content 
    div(class="flex flex-col md:flex-row ml-auto p-28 justify-between text-white" style="background-image: url('site-img10.jpg')")
        div
            h1(class="text-5xl") ABOUT US
            p(class="text-xl") A brief history about our company
        div(class="space-x-1 place-items-center hidden md:flex")
            a(href="/") Home
            i /
            a(href="#") About Us
    div(class="container mx-auto")
        div(class="my-16 mx-10 grid grid-cols-1 md:grid-cols-3 gap-y-3 items-center")
            div(class="col-span-2 text-center px-5")
                h1(class="text-red-600 text-4xl font-semibold") FOUNDER
                p(class="italic").
                    Pellentesque mi purus, eleifend sedt commodo vel, sagittis elts vesti ulum dui sagittis mlste sagittis elts. 
                    Exercitation photo booth that is end stumptown tote bag Banksy, elit small batch freegan sed craft a beer elit seitan exercitation, 
                    photo booth et kale chips hillwave deep laborum mlste sagittis sunt culpa only oficia Excepteur sit occaecat cupidatan is proident, 
                    one sunt in culpa qui officia deserunt mollit anim Ut Excepteur sit occaecat cupidatan is proident end stumptown tote bag Banksy.
                img(src="site-img04.jpg" class="mx-auto" alt)
            img(src="site-img17.jpg" alt)
        div(class="flex flex-col lg:flex-row my-16")
            img(src="site-img16.jpg" class="w-full lg:w-1/2" alt)
            div(class="text-center lg:text-left p-5")
                h1(class="text-red-600 text-4xl font-semibold") OUR HISTORY
                p(class="mb-3 text-base"). 
                    Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut minim veniam laboreua 
                    dolore magna aliqua. Consequuntur magni dolores eos ratione voluptatem nesciunt natus error voluptatem accusantium tempo doloremque 
                    Excepteur sit occaecat cupidatan is proident, one sunt in culpa.
                p(class="mb-3 italic text-base").
                    Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut Excepteur sit occaecat cupidatan 
                    is proident, one sunt in culpa qui minim veniam laboreua.
                p(class="mb-3 text-base"). 
                    Consequuntur magni dolores eos ratione voluptatem nesciunt natus error voluptatem accusantium tempo doloremque. 
                    Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut minim veniam laboreua dolore 
                    magna aliqua. Excepteur sit occaecat cupidatan is proident, one sunt in culpa Ut enim ad minim veniam, quis nostrud enim ad.
        div(class="text-center")
            h1(class="text-gray-500 text-4xl font-semibold") Our Chef
            p. 
                Pellentesque mi purus, eleifend sedt commodo vel, sagittis elts vesti ulum dui sagittis mlste sagittis elts. Exercitation 
                photo booth that is end stumptown tote bag Banksy, elit small batch freegan sed craft a beer elit seitan exercitation, photo booth 
                et kale chips hillwave deep laborum mlste sagittis sunt culpa only oficia. Consequuntur magni voluptatem.
            img(src="site-img50.jpg" class="mx-auto my-10" alt)
        div(class="grid grid-cols-1 md:grid-cols-4 grid-rows-2 gap-6 mx-0 sm:mx-40 md:mx-0")
            div
                img(src="site-img24.jpg" class="mx-auto" alt)
                h3 John Doe
                p(class="mb-2") Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut.
                ul(class="space-x-3")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-facebook(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-twitter(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-google-plus(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-linkedin(class="text-white p-2")
            div
                img(src="site-img25.jpg" class="mx-auto" alt)
                h3 Angelina Smith
                p(class="mb-2") Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut.
                ul(class="space-x-3")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-facebook(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-twitter(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-google-plus(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-linkedin(class="text-white p-2")
            div
                img(src="site-img26.jpg" class="mx-auto" alt)
                h3 John Doe
                p(class="mb-2") Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut.
                ul(class="space-x-3")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-facebook(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-twitter(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-google-plus(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-linkedin(class="text-white p-2")
            div
                img(src="site-img27.jpg" class="mx-auto" alt)
                h3 Angelina Jr.
                p(class="mb-2") Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut.
                ul(class="space-x-3")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-facebook(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-twitter(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-google-plus(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-linkedin(class="text-white p-2")
            div
                img(src="site-img24.jpg" class="mx-auto" alt)
                h3 John Doe
                p(class="mb-2") Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut.
                ul(class="space-x-3")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-facebook(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-twitter(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-google-plus(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-linkedin(class="text-white p-2")
            div
                img(src="site-img25.jpg" class="mx-auto" alt)
                h3 Angelina Smith
                p(class="mb-2") Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut.
                ul(class="space-x-3")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-facebook(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-twitter(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-google-plus(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-linkedin(class="text-white p-2")
            div
                img(src="site-img26.jpg" class="mx-auto" alt)
                h3 John Doe
                p(class="mb-2") Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut.
                ul(class="space-x-3")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-facebook(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-twitter(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-google-plus(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-linkedin(class="text-white p-2")
            div
                img(src="site-img27.jpg" class="mx-auto" alt)
                h3 Angelina Jr.
                p(class="mb-2") Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut.
                ul(class="space-x-3")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-facebook(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-twitter(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-google-plus(class="text-white p-2")
                    li(class="inline-block")
                        a(href='#' class="bg-gray-500")
                            i.fa.fa-linkedin(class="text-white p-2")


