mixin tag(title, content)
  div(id="tag")
    span
      strong(class="mr-2")=title
      =content

block content
  div(class="md:flex")
    div(class="md:w-1/2 md:pr-6")
      div(class="block md:hidden")
        h1(class="font-bold text-xl leading-7 mb-0") ASUS TUF Dash F15 (Chính hãng)
        div(class="mb-5 text-sm flex space-x-3")
          a(href="#box-rating" class="underline") 0 đánh giá
          a(href="#box-comment" class="underline") 0 bình luận
      div(class="sticky mb-6" style="top: 92px")
        img(src="/images/may1.png" class="block mx-auto")
    div(class="text-sm md:w-1/2")
      div(class="hidden md:block")
        h1(class="mb-4 font-bold leading-tight font-primary text-3xl") ASUS TUF Dash F15 (Chính hãng)
        div(class="mb-5 text-sm md:flex md:space-x-4")
            a(href="#box-rating" class="underline") 0 đánh giá
            a(href="#box-comment" class="underline") 0 bình luận
      div(class="flex flex-col justify-between mb-2 md:flex-row")
        div(class="flex-1 mb-4")
          div(id="brand" class="mb-3 flex")
            span(class="mr-2") Thương hiệu:
            a(class="w-10" href="#") Asus
          div(id="description" class="md:pr-8")
            +tag("Vi xử lý:", "Intel Core i5 11300H, 4 nhân / 8 luồng")
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
            +tag("Màn hình:", '15.6" Full HD IPS 144Hz (1920 x 1080), chống chói')
        div
          div(id="service" class="mb-4 text-sm rounded p-4 border border-gray-200" style="width: 262px")
            h3(class="text-base mb-2 font-semibold leading-6") Bảo hành
            ul(class="list-disc space-y-3 pl-4")
              li
                ="Sản phẩm "
                strong chính hãng
              li
                ="Bảo hành "
                strong toàn cầu 24 tháng
              li
                ="Đổi mới trong 15 ngày đầu tiên"
  div(id="box-comment" class="text-sm mb-14")

