doctype html

html(lang="en") 
  head
    title Butter

    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //CSS
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="layoutStyle.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
    script(src="layout.js" defer)
    block header
  body(class="bg-gray-50")
      nav(class="bg-black text-white")
          div(class="mx-auto flex p-5 flex-wrap items-center flex-row-0")
              div(class="logo")
                  a.flex(href="/")
                      img(src="logo.png" alt="Butter logo")
              div(class="nav-bar text-xl items-center mr-0 md:ml-auto hidden md:flex")
                  a(class="mr-6" href="/") HOME
                  a(class="mr-6" href="/AboutUs") ABOUT US
                  a(class="mr-6" href="/menu") MENU
                  a(class="mr-6" href="/reservation") RESERVATION
              div(class="nav-bar text-xl items-center flex ml-auto md:ml-0")
                  div(class="mr-6 text-sm")
                      if cartLength
                          span(class="fa-stack fa-2x has-badge" data-count=cartLength)
                              a(href="/ShoppingCart")
                                  i(class="fa fa-shopping-cart fa-stack-1x fa-inverse")
                      else
                          span(class="fa-stack fa-2x has-badge" data-count=0)
                              a(href="/ShoppingCart")
                                  i(class="fa fa-shopping-cart fa-stack-1x fa-inverse")
                  i(class="fas fa-search fa-lg mr-6" onclick="myFunction()")
                  if user
                    a(class="mr-6" href="/profile")
                      img(alt="Avatar" src=user.image class="avatar-nav")
                    a(class="mr-6" href="/profile")= user.username
                      div(class="dropdown-content")
                          a(class="dropdown-item" href="/profile") Profile
                          a(class="dropdown-item" href="/log-out") Log Out
                  else
                    a(class="mr-6 hidden md:flex" href="/sign-in") SIGN IN
              div.col-12(id="search-bar")
                  i(class="fas fa-search fa-lg" onclick="myFunction()")
                  input(type="text" id="searchBar" placeholder="Search Here ..... !")
                  div(id="search_List")
                      ul(id="dishesList")
              //mobile button goes here
              div(class="md:hidden flex order-first mr-auto")
                  button(class="w-6 h-6 mobile-menu-button")
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
          //Mobile menu
          div(class="nav-bar mobile-menu hidden md:hidden bg-black text-white px-2 py-2") 
              a(class="block px-4 py-3 rounded-md hover:bg-white" href="/") HOME
              a(class="block px-4 py-3 rounded-md hover:bg-white" href="/AboutUs") ABOUT US
              a(class="block px-4 py-3 rounded-md hover:bg-white" href="/menu") MENU
              a(class="block px-4 py-3 rounded-md hover:bg-white" href="/reservation") RESERVATION 
              a(class="block px-4 py-3 rounded-md hover:bg-white" href="/logIn") LOGIN 
      block content
      block foot
      div(class="w-full bg-black text-white")
          div(class="container mx-auto p-10 grid grid-cols-1 lg:grid-cols-2 gap-4")
            div(class="col-span-1")
                h4(class="text-2xl font-medium mb-2") About Company
                div(class="bg-red-700 mt-2 mb-6 ml-0 mr-auto" style="width: 36px; height: 2px")
                p(class="mb-4") Pellentesque mi purus, eleifend sedt commodo vel, sagittis elts vestibulum dui sagittis mlste sagittis elts.
                ul.address-info 
                    li(class="my-2")
                    <i class="fas fa-map-marker-alt"></i> 15 Barnes Wallis Way, 358744, USA
                    li(class="my-2")
                    <i class="fas fa-phone"></i> +1 (012) 345 6789 
                    li(class="my-2")
                    <i class="fas fa-envelope"></i> info@yourdomain.com
            div(class="col-span-1")
                h4(class="text-2xl font-medium mb-2") Twitter Feed!
                div(class="bg-red-700 mt-2 mb-6 ml-0 mr-auto" style="width: 36px; height: 2px")              
                ul
                    li(class="my-2")
                      <i class="fas fa-angle-right"></i> 
                          a(href="#") Customer Support
                    li(class="my-2")
                      <i class="fas fa-angle-right"></i> 
                          a(href="#") Documentation 
                    li(class="my-2")
                      <i class="fas fa-angle-right"></i> 
                          a(href="#") Developer Center
                    li(class="my-2")
                      <i class="fas fa-angle-right"></i> 
                          a(href="/FAQs") General FAQs
      div(class="w-full text-white min-h" style="background-color: #1f1f1f")
        div(class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-4 p-10")
          div(class="col-span-1 px-4 lg:p-0")
            h5(class="text-lg lg:text-xl text-center lg:text-left") Copyright © 2021 YOUR DOMAIN. All rights reserved.
          div(class="col-span-1")
            ul(class="mx-auto text-center text-3xl lg:text-4xl") 
              li(class="mx-3 inline-block")
                <i class="fab fa-facebook-square"></i>
              li(class="mx-3 inline-block")
                <i class="fab fa-instagram"></i>
              li(class="mx-3 inline-block")
                <i class="fab fa-youtube"></i>
              li(class="mx-3 inline-block")
                <i class="fab fa-twitter-square"></i>

