doctype html

html(lang="en") 
  head
    title ThinkVip

    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //CSS
    link(rel="stylesheet" href="/styles/style.css")
    link(rel="stylesheet" href="/styles/layoutStyle.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
    script(src="https://code.jquery.com/jquery-3.5.0.js")
    script(src="/javascripts/layout.js" defer)
    block header
  body
      nav(class="text-white" style="background: #05042c")
          div(class="mx-auto flex p-5 flex-wrap items-center flex-row-0")
              div(class="logo")
                  a.flex(href="/")
                      img(src="/images/logo2.svg" class="w-1/2" alt="ThinkVip Logo")
              div(class="nav-bar text-xl items-center mr-0 md:ml-auto hidden md:flex")
                  a(class="mr-6" href="/laptop") LAPTOP
                  a(class="mr-6" href="/menu") PC
                  a(class="mr-6" href="/reservation") PHỤ KIỆN
              div(class="nav-bar text-xl items-center text-center flex ml-auto md:ml-0")
                  div(class="mr-6 text-sm")
                      if cartLength
                          span(class="fa-stack fa-2x has-badge" data-count=cartLength)
                              a(href="/ShoppingCart")
                                  i(class="fa fa-shopping-cart fa-stack-1x fa-inverse")
                      else
                          span(class="fa-stack fa-2x has-badge" data-count=0)
                              a(href="/ShoppingCart")
                                  i(class="fa fa-shopping-cart fa-stack-1x fa-inverse")
                  i(class="fas fa-search fa-lg mr-6" onclick="myFunction()")
                  if user
                    div(class="hidden md:block items-center relative dropdown mt-2 w-11")
                      div(class="mb-2")
                        a(href="/profile")
                          img(alt="Avatar" src=user.avatar class="h-10 w-10 rounded-full")
                      div(class="dropdown-menu rounded-lg hidden absolute bg-white text-black w-32 text-right right-0 min-w-max")
                        ul(class="bg-white rounded-lg overflow-hidden text-left" style="box-shadow: 0 2px 8px rgb(0 0 0 / 25%);")
                          li(class="hover:bg-gray-200")
                            a(class="block p-2 hover:text-white space-x-3" href="/profile") 
                              <i class="far fa-user-circle"></i>
                              span Tài khoản
                          li(class="hover:bg-gray-200 ")
                            a(class="block p-2 hover:text-white space-x-3" href="/logout")
                              <i class="fas fa-sign-out-alt"></i>
                              span Đăng xuất
                  else
                    a(class="mr-6 hidden md:flex" href="/login") LOGIN
              div.col-12(id="search-bar")
                  i(class="fas fa-search fa-lg" onclick="myFunction()")
                  input(type="text" id="searchBar" placeholder="Search Here ..... !")
                  div(id="search_List")
                      ul(id="dishesList")
              //mobile button goes here
              div(class="md:hidden flex order-first mr-auto")
                  button(class="w-6 h-6 mobile-menu-button")
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
          //Mobile menu
          div(class="nav-bar mobile-menu hidden md:hidden text-white px-2 py-2" style="background: #05042c")
              if user 
                a(class="block px-4 py-3 rounded-md hover:bg-white" href="/profile") PROFILE
                a(class="block px-4 py-3 rounded-md hover:bg-white" href="/AboutUs") LAPTOP
                a(class="block px-4 py-3 rounded-md hover:bg-white" href="/menu") PC
                a(class="block px-4 py-3 rounded-md hover:bg-white" href="/reservation") PHỤ KIỆN 
              else
                a(class="block px-4 py-3 rounded-md hover:bg-white" href="/AboutUs") LAPTOP
                a(class="block px-4 py-3 rounded-md hover:bg-white" href="/menu") PC
                a(class="block px-4 py-3 rounded-md hover:bg-white" href="/reservation") PHỤ KIỆN
                a(class="block px-4 py-3 rounded-md hover:bg-white" href="/sign-in") LOGIN
      div(class="container mx-auto px-4" style="max-width: 1254px")
        //- breadcrumb
        div(class="mb-6") Breadcumb
        block content
      block foot
      div(class="text-white" style="background: #05042c")
        div(class="container mx-auto px-4" style="max-width:1254")
          div(class="flex flex-wrap justify-between")
            a(href= '/')
              img(src='/images/logo2.svg' alt="logo footer" class="w-28 md:w-52 xl:w-full py-6")
            div(class="flex justify-between items-center" style='width:424px')
              div(class="font-semibold text-white hotline")
                div(class="text-sm text-white text-opacity-50") Hotline 
                a(href="") yournumber
              div
                ul(class="flex items-center space-x-2 md:space-x-4 text-black")
                  li
                    a(class="flex items-center justify-center w-8 h-8 rounded-full bg-brand")
                      <i class="fab fa-youtube"></i>
                  li
                    a(class="flex items-center justify-center w-8 h-8 rounded-full bg-brand")
                      <i class="fab fa-facebook-f"></i>
                  li
                    a(class="flex items-center justify-center w-8 h-8 rounded-full bg-brand")
                      <i class="fab fa-instagram"></i>
          div(class="flex flex-wrap justify-between mt-3")
            ul(class="flex flex-wrap" style="width:798px")
              li(class="w-1/2 md:w-1/4 pb-6")
                p(class="mb-4 text xl md:text-lg font-semibold leading-140") Sản phẩm và dịch vụ
                ul
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Laptop Dell 
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Laptop HP 
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Laptop ThinkPad 
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Laptop Lenovo
              li(class="w-1/2 md:w-1/4 pb-6" style="margin-top: 42px;")
                ul
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Alienware
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Macbook
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Laptop Razer 
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Phụ kiện
              li(class="w-1/2 md:w-1/4 pb-6")
                p(class="mb-4 text-xl md:text-lg font-semibold leading-140") Chính sách
                ul
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Bảo hành
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Vận chuyển 
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Thanh toán 
              li(class="w-1/2 md:w-1/4 pb-6")
                p(class="mb-4 text-xl md:text-lg font-semibold leading-140") Về ThinkPro
                ul
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Lịch sử thành lập 
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Giá trị cốt lõi
                  li
                    a(href="" class="block text-base text-white text-opacity-70 pb-2 hover:text-blue-500") Tầm nhìn, Sứ mệnh
            div(style="width: 424px")
              p(class="mb-4 text-lg font-semibold leading-140") Hệ thống cửa hàng
              ul(class="flex justify-between") 
                li
                  div(class="font-semibold") Hà Nội: 
                  div(class="mt-3") 53 Thái Hà, Đống Đa, Hà Nội 
                li 
                  div(class="font-semibold") TP. Hồ Chí Minh: 
                  div(class="mt-3") Số 5 + 7 Nguyễn Huy Tưởng, P6, Q. Bình Thạnh
                  div(class="mt-3") Số 95 Trần Thiện Chánh, Phuờng 12, Quận 10

