extends layout

block content
  div(class="w-full h-100 bg-gray-700 h-100 lg:p-10 mb-10")
    div(class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-0 bg-transparent lg:rounded lg:shadow-2xl")
      div(class="col-span-1 p-10 lg:p-20 text-gray-900 lg:rounded-l bg-white")
        h3(class="text-4xl text-center font-bold mb-8") Login
        div(class="mb-3 w-full" style="height: 1px; background: linear-gradient(0.25turn, #fff, #1f1f1f, #fff);")
          if (wrongCredential)
            span Wrong username or password
        form(action="/login" method="POST")
          div(class="mb-3")
            label(for="username" class="text-xl font-semibold") Username
            input(type="text" name="username" class="text-xl bg-gray-200 h-14 w-full p-2 mt-1 rounded-sm" required) 
          div(class="mb-3")
            label(for="password" class="text-xl font-semibold") Password
            a(href="/forgot" class="text-xl font-semibold text-gray-500 ml-2") Forgot?
            input(type="text" name="password" class="text-xl bg-gray-200 h-14 w-full p-2 mt-1 rounded-sm" required) 
          div(class="mb-3 w-full" style="height: 1px; background: linear-gradient(0.25turn, #fff, #1f1f1f, #fff);")
          div(class="mb-3")
            input(type="submit" value="Login" class="w-full h-14 bg-red-700 text-white text-2xl font-bold rounded-sm transition ease-in-out hover:bg-red-600 ring-red-400 focus:ring-4")
          div(class="text-center")
            p(class="inline text-xl font-semibold") Don't have an account?
            a(href="/register" class="text-xl font-semibold text-gray-500 ml-2") Register
      div(class="hidden lg:col-span-1 lg:block bg-center bg-no-repeat bg-cover lg:rounded-r" style="background-image: url('/images/login.jpg')")
