html(lang="en") 
  head
    title Not Found!

    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel="stylesheet" href="/styles/style.css")
  body
    div(class="flex h-screen bg-white justify-center items-center")
      div(class="text-center ")
        img(src="/images/logo.svg" class="w-32 md:w-40 mb-10 mx-auto")
        h2(class="text-black font-bold text-5xl mb-3") Đặt hàng thành công
        p(class="text-gray-400 mb-6") Chúng tôi sẽ đưa sản phẩm đến với quý khách một cách nhanh chóng và tiện lợi nhất
        a(href="/order" alt="Đơn hàng" class="font-bold text-indigo-500 text-xl") Trang đơn hàng ►
