extends layout
block header
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playball&family=Raleway:wght@500&display=swap" rel="stylesheet">
block content
    div(style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(reser-header.jpg);" class="bg-center")
        div(class="text-white text-center py-28")
            h1(class="uppercase text-4xl font-bold") Make a reservation
            p(class="text-4xl font-medium text-yellow-400" style="font-family: 'Playball', cursive;") Booking a table is easy!!
    div(class="container mx-auto")
        div(class="container mx-auto text-center my-5 lg:px-40") 
            h1(class="uppercase font-bold") Reservation 
            img(class="mx-auto" src="color-separator.png")
            p. 
                Numerous commentators have also referred to the supposed restaurant owner's eccentric habit of touting for custom outside 
                his establishment, dressed in aristocratic fashion and brandishing a sword.
        div(class="my-14 lg:px-40")
            form(class="container mx-auto flex flex-col md:grid gap-x-3 md:grid-cols-2" method="POST" action="/reservation")
                div(class="grid grid-cols-1 gap-y-3 text-center")
                    p(class="uppercase") book a table
                    input(class="border border-yellow-700 bg-gray-100 h-12 pl-5" type="date" name="date" id="date" value="2021-01-01" min="2021-08-28" max="2035-12-31") 
                    input(class="border border-yellow-700 bg-gray-100 h-12 pl-5" type="time" name="time")
                    select(class="border border-yellow-700 bg-gray-100 h-12 pl-5" name="Location")
                        option(value="0" selected) Select Restaurant 
                        option(value="Landmark 81") Landmark 81
                        option(value="Saigon Centre") Saigon Centre 
                        option(value="Vincom Center Đồng Khởi") Vincom Center Đồng Khởi
                    select(class="border border-yellow-700 bg-gray-100 h-12 pl-5" name="Guest")
                        option(value="0" selected) Number of Guest 
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                        option(value="6") 6
                        option(value="7") 7
                        option(value="8") ≥ 8
                div(class="grid grid-cols-1 gap-y-3 text-center mt-2 md:mt-0")
                    p(class="uppercase") contact details
                    input(class="border border-yellow-700 bg-gray-100 h-12 pl-5" type="text" name="Name" value placeholder="Name")
                    input(class="border border-yellow-700 bg-gray-100 h-12 pl-5" type="text" name="Email" value placeholder="Email")
                    input(class="border border-yellow-700 bg-gray-100 h-12 pl-5" type="text" name="Phone" value placeholder="Phone")
                    input(class="border border-yellow-700 bg-gray-100 h-12 pl-5" type="text" name="Message" value placeholder="Message")
                div(class="col-span-2 mt-5 text-center")
                    input(class="w-full p-3 bg-black text-white hover:text-yellow-400 text-2xl transform hover:scale-105 duration-500 ease-in-out" type="submit" value="Make Reservation" style="font-family: 'Playball', cursive;")
    div(class="bg-center bg-cover bg-no-repeat w-full" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(https://se-pizzaproject-ver2.herokuapp.com/cork.jpg);")
        div(class="text-white text-center py-40 text-4xl grid grid-cols-1 gap-y-10")
            p(class="uppercase font-bold") openning hours
            p(class="text-yellow-500" style="font-family: 'Playball', cursive;") Call For Reservation 
            p(class="text-yellow-500" style="font-family: 'Playball', cursive;") Everyday 
            p(class="font-bold") 11:00
            p(class="font-bold") 22:00
            p(class="text-yellow-500" style="font-family: 'Playball', cursive;") (+84) 123 456 789
                